html {
    font-size: 14px;
    cursor: none;

}


.wrapper {
    max-width: 1440px;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h1 {
    margin: 0;
    font-family: 'Fraunces', serif;
    z-index: 160;
    color: hsl(212, 21%, 14%);
}

.card {
    max-width: 570px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    z-index: 100;
}

.card p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
    z-index: 160;
}

.card_uppercase {
    letter-spacing: 5px;
    text-transform: uppercase;
}

.card img {
    max-width: 50%;
    border-radius: 10px 0 0 10px;
    z-index: 160;

}

.content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
    border-radius: 0 10px 10px 0;
    padding: 30px;
    gap: 20px;
    z-index: 100;
}

.card_price {
    display: flex;
    gap: 20px;
    align-items: center;
}

.card_price span {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-decoration: line-through 1px;
    color: hsl(228, 12%, 48%);
    z-index: 160;
}

.card_price h1 {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    z-index: 160;
}

.card button {
background-color: hsl(158, 36%, 37%);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    cursor: none;
    transition: all linear 1s;
}

.card button:hover {
    background-color: white;
}

.custom_cursor {
    width: 40px;
    height: 40px;
    background-color: #000;
    pointer-events: none;
    position: absolute;
    border-radius: 20px;
    transform: translateY(-50%) translateX(-50%);
    z-index: 150;
    transition: width linear 1s;
}

.card button p {
    color: #fff;
    z-index: 160;
}

.custom_cursor_button {
    width: 200px;
}

@media screen and (max-width: 600px) {
    .custom_cursor {
        display: none;
    }

    .card {
        flex-direction: column;
    }
    .card img {
        max-width: 100%;
        border-radius: 10px 10px 0 0;
        z-index: 160;

    }
    .card button:hover {
        background-color: hsl(158, 36%, 37%);
    }

}